@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Golos+Text:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "DM Sans", sans-serif;
}

.hamburger {
	height: 36px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 20px;
	cursor: pointer;
}

.hamburger span {
	width: 24px;
	height: 2px;
	background: #333333;
	transform: translateX(-4px);
	transition: 0.5s;
}

.active:nth-child(1) {
	transform: translateY(13px) rotate(135deg);
}
.active:nth-child(2) {
	transform: translateY(5px) rotate(135deg);
	opacity: 0;
}
.active:nth-child(3) {
	transform: translateY(-6.5px) rotate(45deg);
}

.leftSideAni {
	animation: 0.3s 1 forwards slideIn;
}
.closeAni {
	animation: 0.1s 1 forwards slideOut;
}

@keyframes slideIn {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}
@keyframes slideOut {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

.property-description ul {
	padding: 28px 42px;
	list-style: disc;
}

.property-description p {
	letter-spacing: 0.1px;
	font-weight: 400;
	font-style: normal;
	line-height: 160%;
	margin: 28px 0;
}

.property-description h3 {
	font-size: 1.8rem;
	line-height: 2.5rem;
	margin-bottom: 1.5rem;
}

.accordion p {
	margin-bottom: 1rem;
	font-size: 14px;
}

.accordion ul {
	padding-left: 1.75rem;
	font-size: 14px;
	list-style: disc;
	margin-bottom: 1rem;
}

#introduction p {
	margin-bottom: 1rem;
}
